.game-container {
	float: left;
	width: 75%;
	height: 100%;
	background-color: #fafafa;
	min-height: 100vh;
	padding-top: 120px;
}
.summary-container {
	width: 25%;
	height: 100%;
	float: left;
	background-color: #eee;
	min-height: 100vh;
}