*, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-size: 62.5%; 
	overflow: auto;
	overflow-y: scroll;
	overflow-x:auto;
	box-sizing: border-box;
}
body {
	background: $color__background-body; 
}

.wrapper {
	width: $size__wrapper;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.page {
}


@media screen and (max-width: $responsive__tablet) {
	.wrapper {
		width: $size__wrapper-mobile;
	}
}


@import "layout";

@import "../modules/lists";