$color__form: #ddd;
.answer-form {
	text-align: center;
	background-color: $color__form;
	padding: 40px 15px;
	transition: background 0.4s ease;
	cursor: pointer;
	
	input {
		display: block;
		width: 100%;
		background-color: transparent;
		border: none;
		text-align: center;
		outline: none;
		color: #fff;
		@include font-size(3);
		margin-bottom: 10px;
		transition: background 0.4s ease;

		&:focus {
			background-color: rgba(0, 0, 0, .1);
		}
	}


}

