
.hangman-parts {
	text-align: center;
	padding: 35px 0;
	.eye {
		display: none;
		font-size: 11px;
	}

	&.finished {
		.eye {
			display: block;
		}
	}
}

.hangman-svg {

}

.hangman-part {
	stroke-width: 3px;
	stroke-linecap: round;
	stroke: #000;
	transition: ease all 1s;
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	
	&.active {
		stroke-dashoffset: 0;
	}

	&.body {}

	&.head {
		fill: none;
	}

	&.line {
		stroke: #923A00;
	}

	&.construct {
		stroke-width: 5px;
	}
}


