.word-section {}

.word {
	display: block;
	text-align: center;
	
	.spacebar,
	.letter {
		display: inline-block;
		width: 46px;
		height: 59px;
		border-bottom: 3px solid $color__border;
		text-align: center;
		vertical-align: bottom;
		font-weight: 600;
		margin: 0 2px;
		transition: color 0.35s ease;
		@include font-size(4);

		&:empty {
			color: transparent;
		}
	}

	.spacebar {
		border-bottom-color: transparent;
	}
}