

$color__main: #7ad6bb;
$color__secondary: #7B7B7B;


$color__hr: #ddd;
$color__border: #ddd;

$color__background-body: #fff;


$color__text-main: #333;
$color__text-input: #333;
$color__text-input-focus: #111;
$color__text-quote: #aaa;

$color__link: $color__main;
$color__link-hover: darken($color__link, 10%);
$color__link-active: darken($color__link, 15%);

$color__link-menu: #fff;
$color__link-menu-hover: $color__link-menu;


$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__icons-meta: #aaa;


$color__headings: #000;