

$size__wrapper: 80%;
$size__wrapper-mobile: 90%;

$size__padding-small: 10px;
$size__padding-large: 25px;

$radius__large: 10px;
$radius__small: 5px;
$radius__medium: 7px;
$radius__menu: 10px;

$responsive__desktop: 1200px;
$responsive__tablet: 768px;
$responsive__mobile-horizontal: 480px;