$font__basesize: 1;
$font__size: 1.6;
$font__line-height-body: 1.4;

$font__main: "Roboto", sans-serif;
$font__secondary: "Georgia", serif;

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__line-height-pre: 1.6;