p {
	margin-top: 0;
	margin-bottom: 1.2em;
	@include font-size(1.5);
}
.content-area p {
	
}

b, strong {
	font-weight: 600;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	display: block;
	margin-left: 1em;
	border-left: 4px solid $color__main;
	padding: 7px 15px;
	font-family: $font__secondary;
	font-style: italic;
	color: $color__text-quote;


	p { 
		@include font-size(1.6);
	}

	p:last-child {
		margin-bottom:0;
	}

	p:first-child {
		margin-top:0;
	}

}


address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(1.5);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	@include font-size(1.5);
	font-family: $font__code;
}

abbr, acronym {
	border-bottom: 1px dotted $color__border;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}