h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

h1, .h1 {
	@include font-size(8);
	color:  $color__headings;
	line-height: 90px;
	margin-bottom:25px;
	font-weight: 800;
	letter-spacing: -6px;
}



h2, .h2 {
	@include font-size(4);
	color: $color__headings;
	line-height: 1.2;
	margin-bottom:15px;
	font-weight: 500;
	letter-spacing: -2px;
}
	
h3, .h3 {
	@include font-size(2.4);
	color: #555;
	line-height: 1.2;
	margin-bottom:25px;
	font-weight: 500;
}
	
h4, .h4 {
	font-weight:600;
	@include font-size(1.6);
	margin-bottom: 0.7em;
}
