body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-weight: 400;
	@include font-size($font__size);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

@import "custom-classes";